:root {
    --font: verdada,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    --color: #efe8e8;
    --color-bg: #3d3d3d;
    --color-bg-d: #2b2b2b;

    --color-hover: #4f4d4d;
    --color-hover-l: #656363;

    --header-height: 52px;

    --icon-size-n: 20px;
    --icon-size-s: 15px;

    --font-size-n: 1.4rem;
    --font-size-s: 1.3rem;
    --root-font-size: 10px;

    --e-height: 35px;
    --e-padding: 0 10px;

    --rb-right: 5px;

    --root-padding: 5px;

    font-size: var(--root-font-size);

    accent-color: #3d3d3d;
    color-scheme: dark;

    background: #000;
    display:flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
}

/*General*/
* {
    box-sizing: border-box;
}

body {
    position: relative;
    width: 380px;
    margin: 0;
    overflow: hidden;

    font-family: var(--font);
    font-size: var(--root-font-size);

    background: var(--color-bg);
    color: var(--color);
    padding-bottom: 5px;
}

h1,h2,h3,p {
    margin: 0;
}

a,button,select {
    cursor: pointer;
}

a,button {
    border: none;
    color: var(--color);
    font-family: var(--font);
    text-decoration: none;
    box-shadow: unset;
}

[data-display="0"] {
    display: none !important;
}

[data-visible="0"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.c_bold {
    font-weight: 600;
}

.c_center-children {
    display: flex;
    align-items: center;
    justify-content: center;
}

.c_space-between-children {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c_shell::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

/*Components*/


/* header */

header {
    padding: 10px;
    border-bottom: 2px solid var(--color-hover);
}
header h1 {
    font-size: var(--font-size-n);
    padding: 5px;
}

header .right {
    display:flex;
}

header .right button {
    position: relative;
    padding: 5px;
}

header .right button:not(:hover){
    background: transparent;
}

header .right button:hover {
    background: var(--color-hover);
}

header .right button .icon {
    width: var(--icon-size-n);
}

/* message delete */

.message-undo {
    --mu-padding: 10px;
    position: fixed;
    z-index: 3;
    transform: translate(5%, 5px);
    display: flex;
    width: 90%;
    background: var(--color-bg-d);
    padding: var(--mu-padding);
    font-size: var(--font-size-n);
}

.message-undo .content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.message-undo .type {
    padding: 0 80px 0 10px;
}

.message-undo .right {
    display: flex;
    position: absolute;
    right: var(--mu-padding);
}

.message-undo .right button {
    position:relative;
}

.message-undo .right .undo {
    margin-right: 10px;
}
.message-undo .right .close {
    padding: 0;
}

.message-undo .right button .icon {
    width: var(--icon-size-s);
}

.message-undo .right button:hover {
    background: var(--color-hover-l);
}

.message-undo .right button:not(:hover) {
    background: var(--color-hover);
}


/* main */

main {
    overflow: auto;
    height: 543px;
    padding: 5px;
}

main::-webkit-scrollbar {
    /* width of the entire scrollbar */
    width: 8px;
}

main::-webkit-scrollbar-thumb {
    /* color of the scroll thumb */
    background-color:var(--color-hover-l);
}


/* dir and item */

.dir[data-open="0"]>:is(.dir, .item) {
    display: none;
}

.dir[open]>.header {
    position:sticky;
    z-index: 2;
    top: -5px;
    background-color: var(--color-bg);
}

:is(.dir:not([open])>.header, .item) {
    position: relative;
}

:is(.dir>.header, .item):hover {
    background: var(--color-hover);
}

:is(.dir>.header,.item) .content {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--e-height);
    padding-right: 10px;
    padding-block: 0;
    outline-offset: -1px;
}

:is(.dir>.header,.item):not(:hover) .right {
    display: none;
}

:is(.dir>.header, .item):hover .right {
    display: flex;
}

:is(.dir>.header, .item) .right {
    position: absolute;
    top: 5px;
    right: var(--rb-right);
    background: var(--color-hover);
}

:is(.dir>.header, .item) .right::after {
    content:"";
    position: absolute;
    height: 100%;
    width: 10px;
    left: -10px;
    background: linear-gradient(to left, var(--color-hover), transparent);
}

:is(.dir, .item) .right>button {
    position: relative;
    padding: 5px;
    z-index: 1;
}

:is(.dir, .item) .right>button:not(:hover) {
    background: transparent;
}

:is(.dir, .item) .right>button:hover {
    background: var(--color-hover-l);
}

:is(.dir, .item) :is(.right,.more) button>.icon {
    width: var(--icon-size-s);
}

/* dir */

.dir {
    position: relative;
}

.dir>.header {
    display:flex;
}

.dir>.header>button {
    position: relative;
    background: transparent;
}

.dir>.header .content :is(.icon-folder, .icon-folder-open) {
    width: var(--icon-size-n);
    margin: 0 5px;
}

.dir>.header .content .icon-triangle {
    padding: 2px;
    width: var(--icon-size-s);
}

.dir>.header .content .icon-triangle {
    transition: transform 200ms ease-out;
}

.dir:not([open])>.header .content .icon-triangle {
    transform: rotate(90deg);
}

.dir[open]>.header .content .icon-triangle {
    transform: rotate(180deg);
}

:where(
    .dir:not([open])>.header .content .icon-folder,
    .dir[open]>.header .content .icon-folder-open
) {
    display: block;
}

:where(
    .dir[open]>.header .content .icon-folder,
    .dir:not([open])>.header .content .icon-folder-open
) {
    display: none;
}

.dir>.header .content .title {
    font-size: var(--font-size-n);
}

:is(
.dir>.header:has( .right .bmore:hover) .more:not(:hover),
.dir>.header .more:hover
) {
    display: flex;
    flex-direction: column;
}
.dir>.header:has( .right .bmore:not(:hover)) .more:not(:hover) {
    display: none;
}

.dir>.header:has( .more:hover) .right .bmore {
    background: var(--color-hover-l);
}

.dir>.header .more {
    position: absolute;
    right: var(--rb-right);
    z-index: 1;
}

.dir>.header .more>button {
    position:relative;
    display:flex;
    align-items:Center;
    font-size: var(--font-size-n);
    padding: 5px 10px;
}

.dir>.header .more>button:not(:hover) {
    background: var(--color-hover-l);
}

.dir>.header .more>button:hover {
    background: var(--color-hover);
}

.dir>.header .more .icon {
    margin-right: 5px;
}

/* item */

.item .title {
    padding:0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: var(--font-size-s)
}


/* Modals */

.modal:not([data-display="0"]) {
    display: flex;
}

.modal {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    inset: 0;
    align-items: center;
    justify-content: center;
}

.modal::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-bg-d);
    opacity: 0.6;
}

.modal section {
    position: absolute;
    background: var(--color-bg);
    padding: 10px;
}

.modal .icon {
    width: var(--icon-size-n);
}

.modal :is(button,a) {
    padding: 5px;
}

.modal :is(button,a):hover {
    background-color: var(--color-hover);
}

.modal button:not(:hover) {
    background-color: transparent;
}

.modal button {
    position: relative;
}

/* modalConfig and modalEdit */


.modal:not([data-show="0"]) .config {
    display: none;
}
.modal:not([data-show="1"]) .edit {
    display: none;
}
.modal:not([data-show="2"]) .create {
    display: none;
}

.modal :is(.config,.edit) {
    width: 300px;
}
/* modalConfig */

.modal .config {
    top: var(--header-height);
}

.modal .config :is(h2,p) {
    font-size: var(--font-size-n);
}

.modal .config h2 {
    padding-bottom: 10px;
}

.modal .config .field {
    padding: 10px;
}

.modal .config .field input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.modal .config hr {
    margin: 10px 0;
}

.modal .config .socials {
    padding-top: 5px;
}

/* modalEdit */

.modal .edit :is(h2, label) {
    padding-bottom: 10px;
}

.modal .edit form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal .edit[data-edit="0"] .url {
    display:none;
}

.modal .edit label {
    width: 100%;
}

.modal .edit label:focus-within p {
    font-weight: 600;
}

.modal .edit label p {
    font-size: var(--font-size-s);
    padding-bottom: 5px;
}

.modal .edit label input {
    font-size: var(--font-size-n);
    width: 100%;
    padding: 3px;
}
